/*通用样式设置*/
body,
html {
  font-size: 100%;
  background: #eee;
  min-width: 360px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
  font-size: 14px;
}
label,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body a:hover {
  text-decoration: none;
  color: #333;
}
/*部分通用样式*/
div.theBar {
  width: 100%;
  min-height: 40px;
  margin: 20px auto;
  background: -webkit-linear-gradient(left, #3C43A4 10%, #D8DAED);
  background: -moz-linear-gradient(left, #3C43A4 10%, #D8DAED);
  background: -ms-linear-gradient(left, #3C43A4 10%, #D8DAED);
  background: -o-linear-gradient(left, #3C43A4 10%, #D8DAED);
  background: linear-gradient(left, #3C43A4 10%, #D8DAED);
}
div.theBar div.container {
  padding-left: 0;
}
div.theBar h2 {
  padding: 0.5em;
  color: #fff;
}
i.blue-star {
  color: #3399cc;
}
i.gray-star {
  color: #808080;
}
/*头部样式设置*/
header.header {
  padding: 2em 0 0;
  /*头部样式容器*/
}
header.header section.container {
  /*头像登录样式*/
  /*中心logo样式*/
  /*搜索按钮与搜索框样式*/
  /*购物车样式*/
}
header.header section.container div.login a {
  display: inline-block;
  border: 1px solid #3c43a4;
  width: 50px;
  height: 50px;
  margin-top: 0.5em;
  font-size: 0.8em;
  text-align: center;
  color: #3C43A4;
}
header.header section.container div.login a span {
  top: 1.3em;
}
header.header section.container div.logo img {
  float: left;
  margin-left: 2em;
}
header.header section.container div.logo h1 {
  float: left;
  margin: 0.1em 0 0 0.3em;
}
header.header section.container div.logo h1 a {
  font-size: 1.1em;
  color: #212121;
}
header.header section.container div.search {
  float: right;
  margin-top: 0.8em;
  position: relative;
}
header.header section.container div.search div.search_box {
  color: #212121;
  cursor: pointer;
}
header.header section.container div.search div.search_box span {
  padding: 0.6em;
  color: #ff5063;
  border: 1px solid #ff5063;
}
header.header section.container div.search div.search_form {
  width: 20px;
  height: 0;
  right: 0;
  background: #212121;
  position: absolute;
  top: 15px;
  overflow: hidden;
}
header.header section.container div.search div.search_form input {
  display: none;
}
header.header section.container div.search div.search_form input[type="text"] {
  width: 380px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  outline: none;
  background-color: transparent;
}
header.header section.container div.search div.search_form input[type='submit'] {
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  padding: 10px 28px;
  font-weight: ;
  background-color: transparent;
}
header.header section.container div.search div.search_form input[type='submit']:hover {
  color: #000000;
  background-color: #fff;
}
header.header section.container div.shoppingCart {
  margin-top: 0.7em;
  float: left;
}
header.header section.container div.shoppingCart button#shoppingCart {
  background-color: #FF5063;
  width: 50px;
  height: 44px;
  text-align: center;
  border: none;
  border-radius: 7%;
  outline: none;
}
header.header section.container div.shoppingCart button#shoppingCart i {
  color: #fff;
  font-size: 1.8em;
}
header.header section.container div.shoppingCart div.shoppingCartList {
  display: none;
  width: 32%;
  min-height: 10em;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 998;
  padding: 1em;
  background: #eee;
  border-radius: 4px;
  color: #333;
  -webkit-box-shadow: 0px 0px 5px 2px #9a9a9a;
  -moz-box-shadow: 0px 0px 5px 2px #9a9a9a;
  -o-box-shadow: 0px 0px 5px 2px #9a9a9a;
  -ms-box-shadow: 0px 0px 5px 2px #9a9a9a;
  box-shadow: 0px 0px 5px 2px #9a9a9a;
}
header.header section.container div.shoppingCart div.shoppingCartList button.close {
  background: #999;
  width: 1em;
  height: 1em;
}
header.header section.container div.shoppingCart div.shoppingCartList ul.theBox {
  width: 100%;
  max-height: 15em;
  padding: 1em;
  margin: 2em 0 1em;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  overflow-y: scroll;
}
header.header section.container div.shoppingCart div.shoppingCartList ul.theBox li span {
  font-size: 0.9em;
}
header.header section.container div.shoppingCart div.shoppingCartList ul.theBox li span.productname {
  display: inline-block;
  width: 8em;
}
header.header section.container div.shoppingCart div.shoppingCartList ul.theBox li input {
  margin-left: 3em;
  width: 1.7em;
  height: 1.7em;
  text-align: center;
  outline: none;
}
header.header section.container div.shoppingCart div.shoppingCartList ul.theBox li button {
  margin: 0.1em 0.5em 0 1.5em;
  outline: none;
  width: 1.7em;
  height: 1.7em;
}
header.header section.container div.shoppingCart div.shoppingCartList div.bottom {
  width: 100%;
  display: table;
  padding-left: 0.2em;
}
header.header section.container div.shoppingCart div.shoppingCartList div.bottom span {
  display: inline-block;
  margin-top: 0.5em;
}
header.header section.container div.shoppingCart div.shoppingCartList div.bottom button.buy {
  border: none;
  border-radius: 0.2em;
  padding: 0.5em;
  float: right;
}
@media (max-width: 1288px) {
  header.header section.container div.shoppingCart div.shoppingCartList {
    width: 35%;
  }
}
@media (max-width: 1288px) {
  header.header section.container div.shoppingCart div.shoppingCartList {
    width: 40%;
  }
}
@media (max-width: 960px) {
  header.header section.container div.shoppingCart div.shoppingCartList {
    width: 60%;
  }
}
@media (max-width: 660px) {
  header.header section.container div.shoppingCart div.shoppingCartList {
    width: 100%;
    min-width: 360px;
  }
}
/*导航条样式*/
section.navigation {
  background-color: #3c43a4;
  margin-top: 3.5em;
  text-align: center;
}
section.navigation div.container nav {
  margin-bottom: 0;
  background-color: transparent;
  border: none;
}
section.navigation div.container nav div.navbar-header {
  color: #fff;
}
section.navigation div.container nav div.navbar-header button {
  float: none;
  border-color: #fff;
}
section.navigation div.container nav div.navbar-header button span {
  background-color: #fff;
}
section.navigation div.container nav div.collapse.navbar-collapse ul.nav.navbar-nav {
  display: table;
  margin: 0 auto;
  float: none;
}
section.navigation div.container nav div.collapse.navbar-collapse ul.nav.navbar-nav li a {
  padding: 20px 30px;
  color: #fff;
}
/*商品详情*/
section.detail div.container div.row.picRow {
  display: table;
  background: #fff;
  margin-top: 0.5em;
}
section.detail div.container div.row.picRow div.pic {
  position: relative;
  border: 1px solid #ccc;
  padding: 0;
}
section.detail div.container div.row.picRow div.pic div.left {
  position: relative;
  width: 100%;
}
section.detail div.container div.row.picRow div.pic div.left img#smallImg {
  width: 100%;
}
section.detail div.container div.row.picRow div.pic div.left div#flag {
  display: none;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
section.detail div.container div.row.picRow div.pic div.left div#cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
section.detail div.container div.row.picRow div.pic div.right {
  display: none;
  width: 100%;
  position: absolute;
  left: 105%;
  top: 0;
  overflow: hidden;
  z-index: 999;
}
section.detail div.container div.row.picRow div.pic div.right img#bigImg {
  width: 200%;
  position: relative;
}
section.detail div.container div.row.picRow div.pic div.row.bottomRow {
  margin: 0.3em 0 0;
  width: 100%;
  height: 100px;
}
section.detail div.container div.row.picRow div.pic div.row.bottomRow div.sm_pic {
  cursor: pointer;
  padding: 0;
}
section.detail div.container div.row.picRow div.pic div.row.bottomRow div.sm_pic img {
  width: 100%;
}
@media (max-width: 800px) {
  section.detail div.container div.row.picRow div.pic div.right {
    left: 100%;
  }
}
@media (max-width: 750px) {
  section.detail div.container div.row.picRow div.pic div.row.bottomRow {
    display: none;
  }
}
section.detail div.container div.row.picRow div.info {
  padding-left: 5%;
}
section.detail div.container div.row.picRow div.info div.infoContainer {
  margin: 0;
  padding: 0 1%;
  display: table;
}
section.detail div.container div.row.picRow div.info div.infoContainer div.top {
  margin-top: 1em;
  width: 100%;
}
section.detail div.container div.row.picRow div.info div.infoContainer div.top h2 {
  text-align: left;
  font-weight: 800;
}
section.detail div.container div.row.picRow div.info div.infoContainer div.star {
  padding-left: 0.8em;
  margin-top: 2.5%;
  text-align: left;
}
section.detail div.container div.row.picRow div.info div.infoContainer dl.description {
  margin-top: 3%;
}
section.detail div.container div.row.picRow div.info div.infoContainer dl.description dt {
  font-size: 1.2em;
}
section.detail div.container div.row.picRow div.info div.infoContainer dl.description dd {
  margin-top: 2%;
  font-size: 1em;
}
section.detail div.container div.row.picRow div.info div.infoContainer div.price {
  margin-top: 2.5%;
}
section.detail div.container div.row.picRow div.info div.infoContainer div.price span {
  color: #888;
}
section.detail div.container div.row.picRow div.info div.infoContainer div.price b {
  font-size: 2em;
}
section.detail div.container div.row.picRow div.info div.infoContainer div.num {
  margin-top: 2em;
}
section.detail div.container div.row.picRow div.info div.infoContainer div.num input {
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  outline: none;
  border: 1px solid #ccc;
  text-align: center;
}
section.detail div.container div.row.picRow div.info div.infoContainer div.num button {
  padding: 0;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  outline: none;
  border: 1px solid #ccc;
}
section.detail div.container div.row.picRow div.info div.infoContainer div.num span#total {
  margin-left: 0.4em;
  font-size: 1.2em;
  font-weight: 800;
}
section.detail div.container div.row.picRow div.info div.infoContainer button.addCart {
  margin: 2em auto;
  padding: 0.8em 2.3em;
  background-color: #eee;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5%;
  font-weight: 800;
}
section.detail div.container div.row.picRow div.info div.infoContainer button.addCart:hover {
  background-color: #3c43a4;
  color: #fff;
}
/*最新评论部分样式*/
section.comment div.container div.box {
  margin-top: 0.2em;
  width: 100%;
  display: table;
  background-color: #fff;
}
section.comment div.container div.box div.theUser {
  padding: 1em;
  width: 15%;
  min-height: 200px;
  float: left;
}
section.comment div.container div.box div.theUser div.headPic {
  width: 60%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
section.comment div.container div.box div.theUser div.headPic img {
  width: 100%;
}
section.comment div.container div.box div.theUser p {
  margin-top: 0.5em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 800;
}
section.comment div.container div.box div.content {
  padding: 2em;
  width: 85%;
  min-height: 200px;
  float: left;
}
section.comment div.container div.box div.content p {
  font-size: 1.2em;
}
section.comment div.container div.box div.content span {
  display: inline-block;
  float: right;
  margin-top: 0.8em;
}
/*最新商品部分样式*/
section.eletric div.container {
  margin: 0 auto;
  overflow: hidden;
}
section.eletric div.container ul.row.electronic_list {
  margin: 0 auto;
  width: 100%;
}
section.eletric div.container ul.row.electronic_list li {
  background-color: #ccc;
  padding: 0;
  opacity: 1;
}
section.eletric div.container ul.row.electronic_list li:hover div.box div.electrCover {
  top: 0;
  left: 0;
  transform: rotate(0deg);
}
section.eletric div.container ul.row.electronic_list li:hover div.box div.content {
  left: 0;
}
section.eletric div.container ul.row.electronic_list li div.box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section.eletric div.container ul.row.electronic_list li div.box a {
  display: block;
}
section.eletric div.container ul.row.electronic_list li div.box a img {
  width: 100%;
}
section.eletric div.container ul.row.electronic_list li div.box div.electrCover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 200%;
  top: -50%;
  transform: rotate(-90deg);
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}
section.eletric div.container ul.row.electronic_list li div.box div.content {
  padding: 0.5em;
  width: 100%;
  position: absolute;
  top: 40%;
  left: -100%;
  transition: all 0.5s ease;
  text-align: center;
}
section.eletric div.container ul.row.electronic_list li div.box div.content h4 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 0.5em;
  color: #fff;
}
section.eletric div.container ul.row.electronic_list li div.box div.content p span {
  font-size: 1.3em;
  margin-right: 0.3em;
  color: #fff;
}
section.eletric div.container ul.row.electronic_list li div.box div.content p del {
  color: #ddd;
}
section.eletric div.container ul.row.electronic_list li div.box div.content button.addCart {
  margin: 0.5em auto;
  padding: 0.5em 2em;
  background-color: #fff;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5%;
  font-weight: 800;
}
section.eletric div.container ul.row.electronic_list li div.box div.content button.addCart:hover {
  background-color: #3c43a4;
  color: #fff;
}
@media (max-width: 1200px) {
  section.eletric div.container ul.row.electronic_list {
    width: 155%;
  }
}
@media (max-width: 1000px) {
  section.eletric div.container ul.row.electronic_list {
    width: 210%;
  }
}
@media (max-width: 600px) {
  section.eletric div.container ul.row.electronic_list {
    width: 320%;
  }
}
footer.footer {
  width: 100%;
  min-height: 10em;
  margin-top: 1em;
  background-color: #3C43A4;
}
footer.footer div.container div.row.footer_top {
  margin-top: 2em;
}
footer.footer div.container div.row.footer_top div dl dt {
  margin-bottom: 0.3em;
  color: #fff;
}
footer.footer div.container div.row.footer_top div dl dd {
  margin: 0.1em;
}
footer.footer div.container div.row.footer_top div dl a {
  color: #fff;
  font-size: 0.9em;
}
footer.footer div.container div.row.footer_top div dl a:hover {
  color: #FF5063;
}
footer.footer div.container div.copyright {
  margin: 0.5em;
  width: 100%;
  text-align: center;
  font-size: 0.5em;
  color: #ccc;
}
